{{> header }}
<div class="flex-container panel-body">
    <div class="foto foto1">

        {{#if firm.photo}}
            <img src="{{firm.photo}}">
        {{else}}
            <img src="images/image.png">
        {{/if}}

    </div>
    <div class="textedit flex-container content-block">
        <div class="place flex-container content-block">
            <span class="smallfont">Alias</span>
            <small class="label">{{firm.alias}}</small>
            <span class="smallfont">Name</span>
            <small class="label">{{firm.name}}</small>
            <span class="smallfont">Priority</span>
            <small class="label">{{firm.priority}}</small>
        </div>
    </div>

    <div class="tabs flex-container content-block">

        {{#if baseUser.permissionsObject.read}}
            <a href="{{routePath}}/edit/{{firm.id}}" class="edittab btn-success btn">Edit</a>
            <button onclick="showModal('Confirm deleting firm: <b>{{firm.alias}}</b>', '{{routePath}}/delete/{{firm.id}}'); event.stopPropagation()"
                    class="deltab btn-danger btn btn-lg">Delete
            </button>
        {{/if}}

    </div>
</div>

<div class="flex-container content-block">

    {{#if models}}
        <table>
            <tr>
                <th class="description">ALIAS</th>
                <th class="description">NAME</th>
                <th></th>
            </tr>
            <tr class="block-link"></tr>

            {{#each models}}
                <tr onClick="window.location.href='{{../routePath}}/{{../firm.id}}/model/{{id}}';" class="compaings-content trlink">
                    <td>{{alias}}</td>
                    <td>{{name}}</td>
                    <td>{{type}}</td>
                    <td>
                        {{#if ../baseUser.permissionsObject.read}}
                            <a href="{{../routePath}}/{{../firm.id}}/model/edit/{{id}}" onclick="event.stopPropagation()"
                               class="redcrossx-div"><img src="images/points.png"></a>
                            <a onclick="showModal('Confirm deleting project: <b>{{name}}</b>', '{{../routePath}}/{{../firm.id}}/model/delete/{{id}}'); event.stopPropagation()"
                               class="redcrossx-div"><img src="images/crossx.png"></a>
                        {{/if}}
                    </td>
                </tr>
                <tr class="block-link2"></tr>
            {{/each}}

        </table>
    {{/if}}

</div>