{{> header }}
<div id="cardedit">
    <form role="form" action="{{routePath}}/{{firm_id}}/model/edit" method="post">
        <div class="usercard flex-container">
            <div class="fotoedit">
                <div class="fileinput fileinput-new imageinput" data-provides="fileinput">

                </div>
            </div>
            <div class="textedit">
                <input type="hidden" name="model[id]" value="{{#if model}}{{model.id}}{{/if}}">
                <input type="hidden" name="model[firm_id]" value="{{#if firm_id}}{{firm_id}}{{/if}}">
                <table>
                    <tr class="textdescription">
                        <td class="textleft paddleftlus20"><label for="alias">Alias</label></td>
                        <td class="textleft"><span class="inputdescription"><input id="alias" type="text"
                                                                                   placeholder="Alias"
                                                                                   name="model[alias]"
                                                                                   required minlength="3" maxlength="30"
                                                                                   value="{{#if
                                                                                           model}}{{model.alias}}{{/if}}"
                                                                                   autocomplete="off"></span></td>
                    </tr>
                    <tr class="textdescription">
                        <td class="textleft paddleftlus20"><label for="name">Name</label></td>
                        <td class="textleft"><span class="inputdescription"><input id="name" type="text"
                                                                                   placeholder="Name" name="model[name]"
                                                                                   required minlength="3" maxlength="30"
                                                                                   value="{{#if
                                                                                           model}}{{model.name}}{{/if}}"
                                                                                   autocomplete="off"></span></td>
                    </tr>
                    <tr class="textdescription">
                        <td class="textleft paddleftlus20"><label for="priority">Priority</label></td>
                        <td class="textleft"><span class="inputdescription"><input id="priority" type="text"
                                                                                   placeholder="Priority"
                                                                                   name="model[priority]"
                                                                                   required minlength="1" maxlength="30"
                                                                                   value="{{#if
                                                                                           model}}{{model.priority}}{{/if}}"
                                                                                   autocomplete="off"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex-container actions-button-1">
            <button type="button" onclick="window.location.href='{{cancelLink}}';"
                    class=" checkboline btn btn-lg btn-edit btn-danger">Cancel
            </button>
            <button type="submit" class="checkboline paddingplus30 btn btn-lg btn-edit btn-success">Save</button>
        </div>
    </form>
</div>
{{> footer}}

{{#if isNotValidate}}
    <div class="myalert">
        <span class="error">{{message}}</span>
    </div>
{{/if}}

<script src="/js/scripts/edit_models.js"></script>